.itinerary-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: rgb(126,116,115);
  font-family: 'EB Garamond', serif;
}
  
.access-code-prompt {
  text-align: center;
  margin-top: 20px;
}
  
.event-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
  
.event-title {
  margin-bottom: 10px;
  font-size: 28px; /* Default title font size */
}
  
.event-detail {
  font-size: 18px; /* Default detail font size */
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.icon {
  margin-right: 5px;
  color: rgb(126,116,115);
  font-size: 18px; /* Default icon size */
}

/* Continue button styling */
.rsvp-continue-button {
  width: 100%;
  background-color: #b5a89e;
  color: rgb(126, 116, 115);
  font-family: 'EB Garamond', serif;
  color: white;
  
  font-size: 16px;
  margin-top: 20px;
  border-color: rgb(126, 116, 115) !important;
}


/* Shake animation */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}
  
.shake {
  animation: shake 0.5s ease-in-out;
}
  
/* Swipeable views full page styling */
.itinerary-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation styling */
.swipe-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

/* Hide navigation buttons on mobile screens (buttons only hidden) */
@media screen and (min-width: 769px) {
  .swipe-nav button {
    display: inline-block;
  }
}
  
@media screen and (max-width: 768px) {
  .swipe-nav button {
    display: none;
  }
  .swipe-nav {
    justify-content: center;
  }
}

/* Always show decorative image fixed at bottom center */
.mobile-decorative {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  background: transparent;
  padding: 10px 0;
}
  
.overlay-image {
  margin: 0 20px;
  max-height: 50px;
}

/* Responsive adjustments for smaller phone screens */
@media screen and (max-width: 768px) {
  .event-title {
    font-size: 24px;
  }
  .event-detail {
    font-size: 16px;
  }
  .icon {
    font-size: 16px;
    margin-right: 3px;
  }
}

@media screen and (max-width: 480px) {
  .event-title {
    font-size: 20px;
  }
  .event-detail {
    font-size: 14px;
  }
  .icon {
    font-size: 14px;
    margin-right: 2px;
  }
}
