@font-face {
  font-family: 'QueensideMedium';
  src: url('./assets/fonts/QueensidesMedium-x30zV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(252, 244, 236);

  font-synthesis: none;
  
}

